{% extends 'layout.html' %}

{% block content %}
<div class="group-layout flex flex-col gap-2">
  <header class="w-full border-2 border-gray-500 rounded-lg">
    <div class="group-info">
      <div class="title text-2xl font-bold text-center" data-id="{{group.id}}">
        {{group.name}}
      </div>
      <div class="owner text-center">
        그룹장 : {{owner.nick}}
        <div class="description text-center">
          {{group.description}}
        </div>
      </div>
    </div>
  </header>
  <div class="main flex flex-col md:flex-row gap-2">
    <div class="members flex flex-col max-w-4xl md:w-1/4 border-2 border-gray-500 rounded-lg p-2">
      <div class="label font-semibold text-lg flex justify-between">
        <span>멤버 인원</span><span>{{group.Users.length}} / {{group.maxMember}}</span>
      </div>
      <div class="members">
        {% for user in group.Users %}
        <div class="member text-center" data-id="{{user.id}}">
          {{user.nick}}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="calender w-full md:w-3/4">
      <div class="label text-center text-2xl font-bold">
        가능한 시간대
      </div>
      <div class="schedule flex justify-between text-center">
        <div class="scehdule-header flex justify-around">
          <div class="time">
            <div class="time-label">시간</div>
            <div class="time-content">
              {% for time in times %}
              <div class="time-item text-center">{{time}}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="schedule-body flex justify-around w-full">
          {% for user in users %}
          <div class="member text-center w-full">
            <div class="member-label" data-id="{{user.id}}">{{user.nick}}</div>

            {% for available in user.availableTime %}
            {% if available %}
            <div class="available-time bg-green-400 h-[1.5rem] border-[0.1rem] border-gray-700 w-full hover:border-blue-400"
                 data-id="{{loop.index}}"></div>
            {% else %}
            <div class="available-time bg-red-400 h-[1.5rem] border-[0.1rem] border-gray-700 w-full hover:border-blue-400"
                 data-id="{{loop.index}}"></div>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const availableTimes = document.querySelectorAll(".available-time");
  // 특정 시간으로 PATCH 요청을 보낸다. (시간, 멤버, 그룹) 정보를 담아서 보낸다. 사용가능일 경우 초록색, 불가능일 경우 빨간색으로 변경한다.
  const patchTimeCallback = (availableTime) => {
    const time = availableTime.dataset.id-1;
    const member = availableTime.parentElement.querySelector(".member-label").dataset.id;
    const group = document.querySelector(".title").dataset.id;
    const data = {
      time : time,
      userId : member,
      groupId : group
    };
    console.log(data);
    fetch("/time", {
    method: "PATCH",
      headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  }).then((res) => {
    if (res.ok) {
      return res.json();
    }
  }).then((data) => {
    if (data.available) {
      availableTime.classList.remove("bg-red-400");
      availableTime.classList.add("bg-green-400");
    } else {
      availableTime.classList.remove("bg-green-400");
      availableTime.classList.add("bg-red-400");
    }
  });
  }

  availableTimes.forEach((availableTime) => {
    availableTime.addEventListener("mousedown", () => patchTimeCallback(availableTime) );
    // 마우스를 누른 상태로 움직여서 요소 위로 올라올 경우 이벤트 적용
    availableTime.addEventListener("mouseover", () => {
      if (event.buttons === 1) {
        patchTimeCallback(availableTime);
      }
    });
  });
</script>
{% endblock %}