{% extends 'layout.html' %}

{% block content %}
<div class="group-layout">
  <header class="w-full border-2 border-gray-500 rounded-sm">
    <div class="group-info">
      <div class="title">
        {{group.name}}
      </div>
      <div class="description">
        {{group.description}}
      </div>
    </div>
    <div class="members">
      <div class="label">
        멤버
      </div>
      <div class="value">
      {{group.Users.length}} / {{group.maxMember}}
      </div>
    </div>
  </header>
</div>
{% endblock %}

{% block script %}
{% endblock %}