<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/output.css">
</head>
<body>
<div class="container">
  <div class="profile-wrap">
    <div class="profile">
      {% if user and user.id %}
      <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
      <div class="group-name font-semibold text-lg">그룹 목록</div>
      <div class="flex flex-col gap-2">
      {% for group in belongingGroup %}
      <div class="group flex justify-between rounded-lg px-2 text-sm border-red-800 border-2 p-1">
        <div class="group-name font-semibold">{{group.name}}</div>
        <button class="bg-white text-red-400 py-1 px-2 rounded-lg" onclick="location.href='/group/{{group.id}}'">입장</button>
      </div>
      {% endfor %}
      </div>
      <input id="my-id" type="hidden" value="{{user.id}}">
      <a id="my-profile" href="/profile" class="btn">내 프로필</a>
      <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
      {% else %}
      <form id="login-form" action="/auth/login" method="post">
        <div class="input-group">
          <label for="email">이메일</label>
          <input id="email" type="email" name="email" required autofocus>
        </div>
        <div class="input-group">
          <label for="password" class="font-bold">비밀번호</label>
          <input id="password" type="password" name="password" required>
        </div>
        <a id="join" href="/join" class="btn">회원가입</a>
        <button id="login" type="submit" class="btn">로그인</button>
      </form>
      {% endif %}
    </div>
    <footer>
      Made by&nbsp;
      <a href="https://www.zerocho.com" target="_blank">ZeroCho</a><br/>
      Edit by
      <a href="https://www.github.com/minmunui" target="_blank">minmunui</a>
    </footer>
  </div>
  {% block content %}
  {% endblock %}
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get("error")) {
      alert(new URL(location.href).searchParams.get("error"));
    }
  };
</script>
{% block script %}
{% endblock %}
</body>
</html>
