{% extends 'layout.html' %}

{% block content %}
<div>
<fieldset class="w-full my-8">
  <legend class="w-full text-xl text-center font-bold">그룹 목록</legend>
  <table class="w-full">
    <thead>
    <tr class="border-black">
      <th class="w-6/12 border-2 border-black">그룹 제목</th>
      <th class="w-1/12 border-2 border-black">종류</th>
      <th class="w-2/12 border-2 border-black">허용 인원</th>
      <th class="w-2/12 border-2 border-black">그룹장</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
    <tr data-id="{{group.id}}">
      <td class="border-gray-500 border-2">{{group.name}}</td>
      <td class="border-gray-500 border-2 text-center">{{'비밀' if group.password else '공개'}}</td>
      <td class="border-gray-500 border-2 text-center">{{group.maxMember}}</td>
      <td class="border-gray-500 border-2 text-center" style="color:{{room.owner}}">{{group.owner.nick}}</td>
      <td>
        <button
          data-password="{{'true' if group.password else 'false'}}"
          data-id="{{group.id}}"
          class="join-btn border-red-800 bg-red-400 border-2 rounded-lg text-white px-2 py-2"
          onclick="
          if (this.dataset.password === 'true') {
            const password = prompt('비밀번호를 입력하세요');
            location.href = `/group/${this.dataset.id}?password=${password}`;
          } else {
            location.href = `/group/${this.dataset.id}`;
          }"
        >입장
        </button>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="error-message">{{error}}</div>
</fieldset>
<a href="/group" class="border-red-800 bg-red-400 border-2 rounded-lg text-white px-4 py-2 my-2">그룹 생성</a>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  function addBtnEvent(e) {
    console.log(e.target.dataset.id)
    if (e.target.dataset.password === "true") {
      const password = prompt("비밀번호를 입력하세요");
      location.href = `/group/${e.target.dataset.id}?password=${password}`;
    } else {
      location.href = `/group/${e.target.dataset.id}`;
    }
  }

  document.querySelectorAll(".join-btn").forEach((btn) => {
    console.log(btn.innerHTML)
    btn.addEventListener("click", addBtnEvent);
  });
</script>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get("error")) {
      alert(new URL(location.href).searchParams.get("error"));
    }
  };
</script>
{% endblock %}